ADSPOWER_BASE_URL=http://127.0.0.1:50325
ADSPOWER_HEADLESS=0
ADSPOWER_GROUP_ID=
ADSPOWER_GROUP_NAME=
ADSPOWER_PROFILE_NAME_PREFIX=aws-buildid

PROXY_TYPE=socks5
PROXY_HOST=
PROXY_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=

ACCOUNT_PASSWORD=
ACCOUNT_EMAIL=
ACCOUNT_EMAIL_POOL_FILE=emails.txt
USED_EMAIL_POOL_FILE=used-emails.txt
MANUAL_EMAIL=0

WAIT_FOR_MANUAL_VERIFICATION=1
USE_KIRO_ENTRY=0
KIRO_ENTRY_URL=https://kiro.dev
SAVE_REFRESH_TOKEN=1
AWS_START_URL=https://view.awsapps.com/start
