ADSPOWER_BASE_URL=http://127.0.0.1:50325
ADSPOWER_HEADLESS=0
ADSPOWER_GROUP_ID=
ADSPOWER_GROUP_NAME=
ADSPOWER_PROFILE_NAME_PREFIX=aws-buildid

PROXY_TYPE=socks5
PROXY_HOST=
PROXY_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=

ACCOUNT_PASSWORD=
ACCOUNT_EMAIL=
MANUAL_EMAIL=1

REGISTRATION_COUNT=1
WAIT_FOR_MANUAL_VERIFICATION=1
AWS_START_URL=https://view.awsapps.com/start
